* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: var(--font-geist-sans), sans-serif;
}

.mono {
  font-family: var(--font-geist-mono), monospace;
}

button {
  cursor: pointer;
  border: 0;
}

a {
  text-decoration: none;
}
